{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{% static 'css/style22.css' %}">
    <link rel="icon" type="image/png" href="../assets/img/logoNegro.png">
  </head>
  <body>
    
    <div class="form-container">
   
      <p class="title">Fantasia Intima</p>
      <p class="title1">Recuperar Contraseña</p>
      
      <form class="form">
        <input type="email" class="input" placeholder="Correo Electronico">
       
        <button class="form-btn">Enviar codigo</button>
      </form>

    </div>

  </body>
</html>
